<div class="auth-container">
    <h2>Connect</h2>
    <form action="/login" method="POST">
        <div class="form-control">
            <label for="name">User:</label>
            <input type="text" name="name" placeholder="Enter the user">
        </div>
        <div class="form-control">
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Enter the password">
        </div>
        <input type="submit" value="Connect">
        <p>Don't have a account? <a href="/register">Click here!</a></p>
    </form>
</div>